
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    padding: 20px;
    gap
}
/* .logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:50%;
    width:30%;
} */
